<mat-card class="job-card">
  <div class="job-card-container">
    <div class="job-logo">
      <img
      [src]="getImageSrc(job.logoUrl)" 
      width="96"
      height="96"
      alt="Company Logo"
    />
    
    </div>

    <div class="job-info">
      <div class="job-title">
        <a [href]="job.link" target="_blank" rel="noopener noreferrer">{{ job.title }}</a>
      </div>
      <div class="job-location">
        {{ job.country }} - {{ job.city }}
      </div>
      <div class="job-description" *ngIf="job.description">
        {{ job.description }}
      </div>
    </div>

    <div class="job-action">
      <nav>
        <a [href]="job.link" target="_blank" rel="noopener noreferrer">
          Apply now
        </a>
      </nav>
    </div>
  </div>
</mat-card>
